/*Special case for Galaxy Fold*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #d6dce5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
header .navbar .container-fluid {
  width: auto;
  margin-left: unset;
}
header .navbar .container-fluid .logo {
  vertical-align: baseline;
  margin-right: 8px;
  width: 231px;
  height: 94px;
}
header .navbar .navbar-toggler {
  margin-left: auto;
}
header .navbar #navbarSupportedContent {
  flex-grow: initial;
  flex-basis: auto;
}
@media screen and (max-width: 576px) {
  header .navbar #navbarSupportedContent {
    margin-left: auto;
  }
}
@media screen and (max-width: 576px) {
  header .navbar #navbarSupportedContent .navbar-nav {
    align-items: end;
  }
}
header .navbar #navbarSupportedContent .navbar-nav .menu-item {
  display: inline-block;
  margin: 1em;
  font-weight: 700;
}
header .navbar #navbarSupportedContent .navbar-nav .menu-item .active {
  border-bottom: 2px solid red;
}
header .navbar #navbarSupportedContent .navbar-nav .menu-item a {
  font-size: larger;
  text-decoration: none;
  color: #1976d2;
}
header .navbar #navbarSupportedContent .navbar-nav .menu-item a:hover {
  color: red;
}

.blue-button, main .products .card .card-body .details, main .quote button {
  width: 88px;
  height: 45px;
  background: #1976d2;
  padding: 8px;
  border-radius: 16px;
  color: white;
  font-weight: 700;
  font-size: large;
}

main {
  padding: 15px;
  margin-bottom: 50px;
}
main .header-main {
  text-align: center;
  color: #1976d2;
}
main .promotions {
  margin-left: 20px;
}
@media screen and (min-width: 1201px) {
  main .promotions #carouselExampleIndicators {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  main .promotions #carouselExampleIndicators {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  main .promotions #carouselExampleIndicators {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  main .promotions #carouselExampleIndicators {
    width: 100%;
  }
}
main .promotions #carouselExampleIndicators .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images//prevIcon.svg");
}
main .promotions #carouselExampleIndicators .carousel-control-next .carousel-control-next-icon {
  background-image: url("../images/nextIcon.svg");
}
main .quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .quote img {
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  main .quote img {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  main .quote img {
    width: 200px;
  }
}
main .about h2 {
  text-align: center;
  color: #1976d2;
}
main .about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
main .products .card {
  margin: 1rem;
  width: 18rem;
}
main .products .card img {
  height: 300px;
}
main .products .card .card-body .details:hover {
  background-color: #d6dce5;
}
main .brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .brands .brand {
  display: inline-block;
  margin: 15px;
}
main .brands .brand:hover {
  transform: rotate(20deg);
}
main .brands .brand img {
  width: 300px;
  vertical-align: baseline;
}
main .container {
  display: grid;
  width: fit-content;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 5px 10px;
  grid-template-areas: "schedule contact-info" "address address";
}
@media screen and (max-width: 576px) {
  main .container {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    grid-template-areas: "contact-info" "schedule" "address";
  }
}
main .container .schedule {
  grid-area: schedule;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
@media screen and (max-width: 576px) {
  main .container .schedule {
    margin-bottom: 50px;
  }
}
main .container .schedule .schedule-title p {
  margin-top: 0;
  margin-bottom: 1rem;
}
main .container .schedule .schedule-title p::before {
  content: url("../images//icons/clock.svg");
  margin-right: 5px;
}
main .container .schedule .schedule-hours {
  margin-top: 20px;
  margin-left: 18px;
}
main .container .contact-info {
  grid-area: contact-info;
  display: flex;
  flex-direction: column;
}
main .container .contact-info .contact {
  border: solid black 2px;
  margin: 5px;
  padding: 15px;
}
main .container .contact-info .contact p {
  margin-bottom: 0;
}
main .container .contact-info .contact p a {
  text-decoration: none;
  color: #1976d2;
}
main .container .contact-info .contact p a:hover {
  color: red;
}
main .container .contact-info .whatsapp p::before {
  content: url("../images//icons/whatsapp.svg");
  margin-right: 5px;
}
main .container .contact-info .phone p::before {
  content: url("../images//icons/telephone-fill.svg");
  margin-right: 5px;
}
main .container .contact-info .email p::before {
  content: url("../images//icons/envelope-at-fill.svg");
  margin-right: 5px;
}
main .container .contact-info .web p::before {
  content: url("../images//icons/browser-chrome.svg");
  margin-right: 5px;
}
main .container .address {
  grid-area: address;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
main .container .address .address-label {
  margin: 0;
}
main .container .address .address-label::before {
  content: url("../images//icons/geo-alt-fill.svg");
  margin-right: 5px;
}
main .container .address .address-content {
  margin: 15px 0 20px 18px;
}
main .container .address .address-content p {
  margin: 0;
}
main .container .address iframe {
  width: 600px;
  height: 450px;
}
@media screen and (max-width: 767px) {
  main .container .address iframe {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 576px) {
  main .container .address iframe {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 300px) {
  main .container .address iframe {
    width: 200px;
    height: 200px;
  }
}

footer {
  background-color: #d6dce5;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
footer p {
  font-weight: 700;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 0;
}
footer .div-facebook {
  width: 20px;
  height: 20px;
}
footer .div-facebook a .facebook {
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}
footer .div-facebook a .facebook:hover {
  transform: scale(2, 2);
}

/*# sourceMappingURL=style.css.map */
