* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
  background-color: #d6dce5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
}

main {
  padding: 15px;
  margin-bottom: 50px;
}

nav {
  display: inline-block;
  position: absolute;
  margin: 30px;
  right: 0;
}

nav a {
  font-size: larger;
  text-decoration: none;
  color: #1976d2;
}

nav a:hover {
  color: red;
}

footer {
  background-color: #d6dce5;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2),
    0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 50px;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-right: 20px;
}

.facebook {
  width: 20px;
  height: 20px;
}
.active {
  border-bottom: 2px solid red;
}
.logo {
  margin-right: 8px;
  width: 231px;
  height: 94px;
}

.menu-item {
  display: inline-block;
  margin: 5px;
  font-weight: 700;
}

.header-main {
  text-align: center;
  color: #1976d2;
}

.header-main h1 {
  font-size: 2em;
}
.promotions {
  margin-left: 20px;
}
.promotions img {
  width: 500px;
  margin: 15px;
}

.quote img {
  display: block;
  margin: 15px 0 15px 500px;
}

.quote button,
.details {
  background: #1976d2;
  width: 88px;
  height: 45px;
  padding: 8px;
  border-radius: 16px;
  color: white;
  font-weight: 700;
  font-size: large;
}

.quote button {
  margin: 15px 0 15px 730px;
}

/*** About ***/
.main-about .p1 {
  margin-bottom: 1em;
}

/*** Products ***/
.details {
  margin: 15px 0 0 50px;
}

.products {
  margin-left: 150px;
}
.products img {
  width: 200px;
}

.product {
  display: inline-block;
  margin: 15px 50px;
}

.product p {
  text-align: center;
}

/*** Brands ***/
.brands {
  margin: 15px 50px 15px 50px;
}

.brand {
  display: inline-block;
  margin: 15px;
}
.brand img {
  width: 300px;
}

/*** Contact ***/
.contact,
.address {
  border: black solid 1px;
}

.contact {
  width: 300px;
  padding: 20px;
  margin: 15px 0 20px 550px;
}

.address {
  width: 650px;
  padding: 20px;
  margin: 15px 0 20px 350px;
}
.contact label,
.contact input,
.contact textarea {
  display: block;
}
